# Data files
*.csv
creditcard.csv
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Models
*.pkl
*.h5
models/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
